.button {
  border-radius: 100px;
}

.footer {
  padding-top: 5%;
}

.header {
  margin-top: 2rem;
}

.photo {
  border-radius: 50%;
}

.section {
  text-align: left;
  padding-top: 2%;
  padding-bottom: 2%;
}
